Code/
KDE/
PlasmaUserFeedback
QtProject.conf
Trolltech.conf
VirtualBox/
autostart/
baloofileinformationrc
baloofilerc
bluedevilglobalrc
dconf/
discord/
discoverrc
dolphinrc
gtk-3.0/
gtk-4.0/
gtkrc
gtkrc-2.0
gwenviewrc
kactivitymanagerd-statsrc
kactivitymanagerdrc
kconf_updaterc
kde.org/
kded5rc
kdedefaults/
kdeglobals
kglobalshortcutsrc
kiorc
ksmserverrc
ktimezonedrc
kwalletrc
kwinoutputconfig.json
kwinrc
kxkbrc
launcher/
libaccounts-glib/
libreoffice/
mimeapps.list
obs-studio/
pavucontrol.ini
plasma-localerc
plasma-org.kde.plasma.desktop-appletsrc
plasma-welcomerc
plasmanotifyrc
plasmaparc
plasmarc
plasmashellrc
powerdevilrc
powermanagementprofilesrc
pulse/
session/
spectaclerc
systemmonitorrc
systemsettingsrc
user-dirs.dirs
user-dirs.locale
vlc/
volumeicon/
xsettingsd/